In [2]:
import pandas as pd
import numpy as np
# import sklearn as sk
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

In [3]:
heart_complete = pd.read_csv('heart-complete.csv')
heart_test = pd.read_csv('heart-test.csv')
heart_train = pd.read_csv('heart-train.csv')

heart_complete.head()

   sbp  tobacco   ldl  adiposity  famhist  typea  obesity  alcohol  age  chd
0  160    12.00  5.73      23.11  Present     49    25.30    97.20   52    1
1  144     0.01  4.41      28.61   Absent     55    28.87     2.06   63    1
2  118     0.08  3.48      32.28  Present     52    29.14     3.81   46    0
3  170     7.50  6.41      38.03  Present     51    31.99    24.26   58    1
4  134    13.60  3.50      27.78  Present     60    25.99    57.34   49    1

In [4]:
heart_test.head()

   ID  sbp  tobacco   ldl  adiposity  famhist  typea  obesity  alcohol  age
0   1  114     4.08  4.59      14.60  Present     62    23.11     6.72   58
1   2  114     0.00  3.83      19.40  Present     49    24.86     2.49   29
2   3  132     0.00  5.80      30.96  Present     69    30.11     0.00   53
3   4  206     6.00  2.95      32.27   Absent     72    26.81    56.06   60
4   5  134    14.10  4.44      22.39  Present     65    23.09     0.00   40

In [5]:
heart_train.head()

   sbp  tobacco   ldl  adiposity  famhist  typea  obesity  alcohol  age  chd
0  134    13.60  3.50      27.78  Present     60    25.99    57.34   49    1
1  132     6.20  6.47      36.21  Present     62    30.77    14.14   45    0
2  142     4.05  3.38      16.20   Absent     59    20.81     2.62   38    0
3  114     4.08  4.59      14.60  Present     62    23.11     6.72   58    1
4  114     0.00  3.83      19.40  Present     49    24.86     2.49   29    0

There seems to be no categorical data in this dataset.

In [9]:
heart_complete.isna().sum()

sbp          0
tobacco      0
ldl          0
adiposity    0
famhist      0
typea        0
obesity      0
alcohol      0
age          0
chd          0
dtype: int64

In [24]:
heart_test.isna().sum()

ID           0
sbp          0
tobacco      0
ldl          0
adiposity    0
famhist      0
typea        0
obesity      0
alcohol      0
age          0
dtype: int64

In [25]:
heart_train.isna().sum()

sbp          0
tobacco      0
ldl          0
adiposity    0
famhist      0
typea        0
obesity      0
alcohol      0
age          0
chd          0
dtype: int64

no null values found in this dataset

In [11]:
heart_train['famhist'] = heart_train['famhist'].replace({'Present': 1, 'Absent': 0})

X = pd.get_dummies(heart_train.drop('chd', axis=1), drop_first=True)
y = heart_train['chd']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

logistic_model = LogisticRegression().fit(X_train, y_train)

y_pred = logistic_model.predict(X_test)

accuracy = accuracy_score(y_test, y_pred)
confusion_mat = confusion_matrix(y_test, y_pred)
classification_rep = classification_report(y_test, y_pred)

# Print the results
print(f"Accuracy: {accuracy}")
print("Confusion Matrix:\n", confusion_mat)
print("Classification Report:\n", classification_rep)

Accuracy: 0.6385542168674698
Confusion Matrix:
 [[44  5]
 [25  9]]
Classification Report:
               precision    recall  f1-score   support

           0       0.64      0.90      0.75        49
           1       0.64      0.26      0.37        34

    accuracy                           0.64        83
   macro avg       0.64      0.58      0.56        83
weighted avg       0.64      0.64      0.59        83

/opt/homebrew/Caskroom/miniconda/base/envs/msda/lib/python3.11/site-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [4]:
heart_train['age'].max()

64

In [5]:
heart_train['age'].min()

15

In [6]:
heart_train['age'].mean()

42.68689320388349

In [7]:
heart_train['age'].median()

45.0